<!-- {% comment %} -->
<!--
Using `preload` so that page rendering doesn't get blocked.
Fill in `href`. You may have to adjust `as` and `onload`/`rel`, depending on content.
-->
<!-- <link href="<path/to/content.css>" rel="preload" as="style" onload="this.rel='stylesheet'"> -->

<!--
Fallback in case JavaScript isn't enabled.
Fill in `href`. You may have to adjust `rel`.
-->
<!-- <noscript><link href="<path/to/content.css>" rel="stylesheet"></noscript> -->
<!-- {% endcomment %} -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4T29DXTERM"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-4T29DXTERM');
</script>