<html>

<div>
   <table style="height:300px;overflow-y:scroll;font-size:small;">
      <tbody>
         <tr>
            <th align="left">CustomerID</th>
            <th align="left">CustomerName</th>
            <th align="left">ContactName</th>
            <th align="left">Address</th>
            <th align="left">City</th>
            <th align="left">PostalCode</th>
            <th align="left">Country</th>
         </tr>

         <tr>

            <td valign="top">2&nbsp;</td>

            <td valign="top">Ana Trujillo Emparedados y helados&nbsp;</td>

            <td valign="top">Ana Trujillo&nbsp;</td>

            <td valign="top">Avda. de la Constitución 2222&nbsp;</td>

            <td valign="top">México D.F.&nbsp;</td>

            <td valign="top">05021&nbsp;</td>

            <td valign="top">Mexico&nbsp;</td>

         </tr>

         <tr>

            <td valign="top">19&nbsp;</td>

            <td valign="top">Eastern Connection&nbsp;</td>

            <td valign="top">Ann Devon&nbsp;</td>

            <td valign="top">35 King George&nbsp;</td>

            <td valign="top">London&nbsp;</td>

            <td valign="top">WX3 6FW&nbsp;</td>

            <td valign="top">UK&nbsp;</td>

         </tr>

         <tr>

            <td valign="top">75&nbsp;</td>

            <td valign="top">Split Rail Beer &amp; Ale&nbsp;</td>

            <td valign="top">Art Braunschweiger&nbsp;</td>

            <td valign="top">P.O. Box 555&nbsp;</td>

            <td valign="top">Lander&nbsp;</td>

            <td valign="top">82520&nbsp;</td>

            <td valign="top">USA&nbsp;</td>

         </tr>

         <tr>

            <td valign="top">77&nbsp;</td>

            <td valign="top">The Big Cheese&nbsp;</td>

            <td valign="top">Liz Nixon&nbsp;</td>

            <td valign="top">89 Jefferson Way Suite 2&nbsp;</td>

            <td valign="top">Portland&nbsp;</td>

            <td valign="top">97201&nbsp;</td>

            <td valign="top">USA&nbsp;</td>

         </tr>

         <tr>

            <td valign="top">78&nbsp;</td>

            <td valign="top">The Cracker Box&nbsp;</td>

            <td valign="top">Liu Wong&nbsp;</td>

            <td valign="top">55 Grizzly Peak Rd.&nbsp;</td>

            <td valign="top">Butte&nbsp;</td>

            <td valign="top">59801&nbsp;</td>

            <td valign="top">USA&nbsp;</td>

         </tr>

      </tbody>
   </table>
</div>

</html>