<html>
<div>
    <table style="font-size:small;">
        <tr>
            <th align="left">CustomerID</th>
            <th align="left">CustomerName</th>
            <th align="left">ContactName</th>
            <th align="left">Address</th>
            <th align="left">City</th>
            <th align="left">PostalCode</th>
            <th align="left">Country</th>
        </tr>

        <tr>

            <td valign="top">4&nbsp;</td>

            <td valign="top">Around the Horn&nbsp;</td>

            <td valign="top">Thomas Hardy&nbsp;</td>

            <td valign="top">120 Hanover Sq.&nbsp;</td>

            <td valign="top">London&nbsp;</td>

            <td valign="top">WA1 1DP&nbsp;</td>

            <td valign="top">UK&nbsp;</td>

        </tr>

        <tr>

            <td valign="top">77&nbsp;</td>

            <td valign="top">The Big Cheese&nbsp;</td>

            <td valign="top">Liz Nixon&nbsp;</td>

            <td valign="top">89 Jefferson Way Suite 2&nbsp;</td>

            <td valign="top">Portland&nbsp;</td>

            <td valign="top">97201&nbsp;</td>

            <td valign="top">USA&nbsp;</td>

        </tr>

        <tr>

            <td valign="top">78&nbsp;</td>

            <td valign="top">The Cracker Box&nbsp;</td>

            <td valign="top">Liu Wong&nbsp;</td>

            <td valign="top">55 Grizzly Peak Rd.&nbsp;</td>

            <td valign="top">Butte&nbsp;</td>

            <td valign="top">59801&nbsp;</td>

            <td valign="top">USA&nbsp;</td>

        </tr>

    </table>

</div>

</html>